{% extends 'base.html' %}
{% block title %} 
About Us 
{% endblock title %}
{% block body %} 
<div class="container">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">ABOUT OUR SERVICES</h3>
            <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                The ODFR portal , also known as the Ordinary Dairy Farmer Registration portal, is a web based application that allows farmers, consumers and dairy companies to interact with each other in various ways and conduct functionalities essential for promoting market linkage such as registration, purchasing, communication, certification  and business transactions.
            </p>
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">MEET OUR TEAM</h3>
            <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                We're a team of college students currently learning the art of software developing and engineering. We realised the inconveniences of the modern day dairy industry and its flaws that affect small scale dairy farmers and so we sought to create an application that could help these farmers have more successful careers and thrive.
            </p>
            <div class="mbr-section-btn align-center"><a class="btn btn-md btn-black-outline display-4" href="\contact">
                    CONTACT US</a></div>
        </div>
    </div>
</div>
{% endblock body %}